//variables and utilities
@import "variables";
//fontawesome files
@import "./fontawsome/fontawesome.scss";
@import "./fontawsome/solid.scss";
@import "./fontawsome/regular.scss";
//google fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap&subset=latin-ext');
//login page style
@import "login";
//forms styles
@import "forms";
//dashboard page style
@import "dashboard";
//dashboard header style
@import "header";
//dashboard main styles
@import "info";
@import "users";
@import "gallery";
@import "settings";

//simple browser default styles reset
* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
}

//global styles
html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: $background-light;
    color: $dark-grey;
    font: 18px/150% 'Quicksand', sans-serif;

    * {
        font: 18px/150% 'Quicksand', sans-serif;
    }
}

.heading {
    font-weight: bold;
    font-size: 24px;
    color: lighten($dark-grey, 10%);

    &::first-letter {
        color: $dark-blue;
    }
}

hr {
    border: none;
    border-top: 1px solid $light-grey;
    margin: 20px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid darken($dark-blue, 8%);
    border-radius: $radius;
    color: white;
    background-color: $dark-blue;
    text-decoration: none;
    cursor: pointer;

    transition: background-color $transition-time;

    &:hover {
        background-color: darken($dark-blue, 4%);
    }

    &.button-block {
        @include icon($fa-var-arrow-right, "after");
        display: block;
        width: 100%;
        text-align: center;
    }
}

.icon-info {
    @include icon($fa-var-info, "before");
}
.icon-users {
    @include icon($fa-var-user, "before");
}
.icon-comments {
    @include icon($fa-var-comment, "before");
}
.icon-gallery {
    @include icon($fa-var-image, "before");
}
.icon-settings {
    @include icon($fa-var-cog, "before");
}

.active {
    color: $dark-blue;
    font-weight: bold;
}